---
# Home
---
<!doctype html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/homepage.css">
  </head>

  <body>
    {% include header.html %}
    <main>

      <script type="text/javascript" charset="utf-8">
        loadLocalization("index");
      </script>

      <h1 id="page-title">John Fernow</h1>

      <div class="container"> <!-- used to place image to left, text to right, if space -->
        <div class="row align-items-center">

          <div class="col-md">
            <img class="img-fluid" src="{{site.baseurl}}/images/homepage-portrait.jpg">
          </div>

          <div class="col-md">
            <h4>
              <div>
                <span data-localize="intro.part1.1">
                  Hi there! I'm John Fernow, a 2020 graduate with a
                  Bachelor's degree in Computer Science from Denison University
                  working as a web developer at
                </span>
                <a href="https://www.thelhtgroup.com" target="_blank"
                   rel="noopener" data-localize="intro.part1.2">
                   LHT Learning.
                 </a>
                <span data-localize="intro.part1.3">
                  There, I build
                </span>
                <a data-localize="intro.part1.4" target="_blank" rel="noopener"
                   href="https://www.thelhtgroup.com/rapid-elearning/">
                   eLearning courses
                </a>
                <span data-localize="intro.part1.5">
                  and work on the website. We create custom
                  virtual training courses for a variety of companies in
                </span>
                <a data-localize="intro.part1.6" target="_blank" rel="noopener"
                   href="https://www.thelhtgroup.com/training-solutions/">
                   a variety of formats.
                </a>
                <span data-localize="intro.part1.7">
                  We can create a course as an online web app, a
                  competitive learning game, a
                </span>
                <a data-localize="intro.part1.8" target="_blank" rel="noopener"
                   href="https://www.thelhtgroup.com/what-is-virtual-reality-training-and-why-you-should-consider-it/">
                   virtual reality training course,
                </a>
                <span data-localize="intro.part1.9">
                  or some other digital learning experience. We do a lot of corporate
                  training and
                </span>
                <a data-localize="intro.part1.10" target="_blank" rel="noopener"
                   href="https://www.thelhtgroup.com/healthcare-compliance-training/">
                   healthcare compliance,
                </a>
                <span data-localize="intro.part1.11">
                  but have worked with many
                  companies from a variety of industries. Check out
                </span>
                <a data-localize="intro.part1.12" target="_blank" rel="noopener"
                   href="http://www.lhtlearning.com/">
                   the website!
                </a>
              </div>
              <br>
              <div data-localize="intro.part2">
                Aside from coding, I am passionate about learning how to reduce climate
                change and most effectively help those in extreme poverty.
              </div>
              <br>
            </h4>
          </div>

        </div>
      </div>

    </main>
    {% include footer.html %}
  </body>
</html>
