<span id="footer" style="font-size: 2rem;">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="https://github.com/johnfernow" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.linkedin.com/in/john-fernow" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <!-- Uncomment once I have higher reputation -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="https://stackoverflow.com/users/11870521/johnfernow" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-stack-overflow"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://stackexchange.com/users/16431912/johnfernow" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-stack-exchange"></i>
      </a>
    </li> -->
    <!-- Uncomment once launched and has videos uploaded -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="mailto:johnfernow@gmail.com">
        <i class="far fa-envelope"></i>
      </a>
    </li>
  </ul>
</span>
