<span id="footer" style="font-size: 2rem;">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="https://github.com/johnfernow" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.linkedin.com/in/john-fernow" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:johnfernow@gmail.com">
        <i class="far fa-envelope"></i>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </li> -->
  </ul>
</span>
