<script type="text/javascript" charset="utf-8">
  loadLocalization("header");
</script>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{{site.url}}">John Fernow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a data-localize="header.skills" class="nav-link" href="{{site.baseurl}}/skills">Skills</a>
      </li>
      <li class="nav-item">
        <a data-localize="header.projects" class="nav-link" href="{{site.baseurl}}/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a data-localize="header.education" class="nav-link" href="{{site.baseurl}}/education">Education</a>
      </li>
      <li class="nav-item">
        <a data-localize="header.volunteer" class="nav-link" href="{{site.baseurl}}/volunteer">Volunteer Work</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Videos</a>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a data-localize="header.language" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" onclick="setLanguage('en')">English</a>
          <a class="dropdown-item" href="#" onclick="setLanguage('es')">Español</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
