---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "/{{ locale }}/skills/"
layout: base.njk
---
<header>
  <h1>{{ i18n[locale].nav.skills }}</h1>
</header>

<section>
  <aside>
    <h3>{{ i18n[locale].skills.professional }}</h3>
    <dl>
      <dt><i class="devicon-javascript-plain colored"></i> JavaScript</dt>
      <dd>6 {{ i18n[locale].skills.years }}</dd>
      <dt><i class="devicon-css3-plain colored"></i> CSS</dt>
      <dd>6 {{ i18n[locale].skills.years }}</dd>
      <dt><i class="devicon-html5-plain-wordmark colored"></i> HTML5</dt>
      <dd>6 {{ i18n[locale].skills.years }}</dd>
      <dt><i class="devicon-git-plain colored"></i> git</dt>
      <dd>6 {{ i18n[locale].skills.years }}</dd>
      <dt><i class="devicon-php-plain colored"></i> PHP</dt>
      <dd>2 {{ i18n[locale].skills.years }}</dd>
      <dt><i class="devicon-jquery-plain colored"></i> jQuery</dt>
      <dd>2 {{ i18n[locale].skills.years }}</dd>
      <dt><i class="devicon-bootstrap-plain colored"></i> Bootstrap 4</dt>
      <dd>2 {{ i18n[locale].skills.year }}</dd>
      <dt><i class="devicon-sass-original colored"></i> SASS</dt>
      <dd>2 {{ i18n[locale].skills.year }}</dd>
      <dt><i class="devicon-drupal-plain colored"></i> Drupal</dt>
      <dd>2 {{ i18n[locale].skills.years }}</dd>
      <dt><i class="devicon-mysql-plain colored"></i> MySQL</dt>
      <dd>{{ i18n[locale].skills.occasional }}</dd>
      <dt>JSON</dt>
      <dd>{{ i18n[locale].skills.occasional }}</dd>
      <dt><i class="devicon-vuejs-plain colored"></i> VueJS</dt>
      <dd>{{ i18n[locale].skills.minor }}</dd>
    </dl>
  </aside>

  <aside>
    <h3>{{ i18n[locale].skills.academic }}</h3>
    <dl>
      <dt><i class="devicon-python-plain colored"></i> Python 3</dt>
      <dd>3 {{ i18n[locale].skills.semesters }}</dd>
      <dt><i class="devicon-cplusplus-plain colored"></i> C++</dt>
      <dd>3 {{ i18n[locale].skills.semesters }}</dd>
      <dt><i class="devicon-csharp-plain colored"></i> C#</dt>
      <dd>1 {{ i18n[locale].skills.semester }}</dd>
      <dt><i class="devicon-typescript-plain colored"></i> TypeScript</dt>
      <dd>1 {{ i18n[locale].skills.semester }}</dd>
      <dt><i class="devicon-electron-original colored"></i> Electron</dt>
      <dd>1 {{ i18n[locale].skills.semester }}</dd>
      <dt><i class="devicon-unity-plain colored"></i> Unity</dt>
      <dd>1 {{ i18n[locale].skills.semester }}</dd>
      <dt><i class="devicon-postgresql-plain colored"></i> PostgreSQL</dt>
      <dd>{{ i18n[locale].skills.occasional }}</dd>
      <dt><i class="devicon-angularjs-plain colored"></i> Angular</dt>
      <dd>{{ i18n[locale].skills.basic }}</dd>
      <dt><i class="devicon-nodejs-plain colored"></i> NodeJS</dt>
      <dd>{{ i18n[locale].skills.basic }}</dd>
      <dt><i class="devicon-bash-plain colored"></i> Bash</dt>
      <dd>{{ i18n[locale].skills.basic }}</dd>
      <dt>OAuth2 + Web APIs</dt>
      <dd>{{ i18n[locale].skills.minor }}</dd>
      <dt>Web Scraping</dt>
      <dd>{{ i18n[locale].skills.minor }}</dd>
      <dt>XML + XPath</dt>
      <dd>{{ i18n[locale].skills.minor }}</dd>
      <dt>x86 Assembly</dt>
      <dd>{{ i18n[locale].skills.minor }}</dd>
    </dl>
  </aside>

  <aside>
    <h3>{{ i18n[locale].skills.selfTaught }}</h3>
    <dl>
      <dt><i class="devicon-java-plain colored"></i> Java</dt>
      <dd>1 {{ i18n[locale].skills.project }}</dd>
      <dt>AutoHotkey</dt>
      <dd>1 {{ i18n[locale].skills.project }}</dd>
    </dl>
  </aside>
</section>

<section>
  <h3>{{ i18n[locale].skills.other }}</h3>
  <ul>
    <li>{{ i18n[locale].skills.other1 }}</li>
    <li>{{ i18n[locale].skills.other2 }}</li>
  </ul>
</section>
