---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "/{{ locale }}/skills/"
layout: base.njk
extraCss:
  - /css/skills.css
---
<header>
  <h1>{{ i18n[locale].nav.skills }}</h1>
</header>

<section>
  <aside>
    <h3>{{ i18n[locale].skills.professional }}</h3>
    <p><iconify-icon icon="devicon:javascript"></iconify-icon> JavaScript</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><iconify-icon icon="devicon:css3"></iconify-icon> CSS</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><iconify-icon icon="devicon:html5-wordmark"></iconify-icon> HTML5</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><iconify-icon icon="devicon:git"></iconify-icon> git</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><iconify-icon icon="devicon:php"></iconify-icon> PHP</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><iconify-icon icon="devicon:jquery"></iconify-icon> jQuery</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><iconify-icon icon="devicon:bootstrap"></iconify-icon> Bootstrap 4</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.year }}</jf-progress></p>
    <p><iconify-icon icon="devicon:sass"></iconify-icon> SASS</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.year }}</jf-progress></p>
    <p><iconify-icon icon="devicon:drupal"></iconify-icon> Drupal</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><iconify-icon icon="devicon:mysql"></iconify-icon> MySQL</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.occasional }}</jf-progress></p>
    <p><iconify-icon icon="devicon:json"></iconify-icon> JSON</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.occasional }}</jf-progress></p>
    <p><iconify-icon icon="devicon:vuejs"></iconify-icon> VueJS</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
  </aside>

  <aside>
    <h3>{{ i18n[locale].skills.academic }}</h3>
    <p><iconify-icon icon="devicon:python"></iconify-icon> Python 3</p>
    <p><jf-progress style="width:100%;">3 {{ i18n[locale].skills.semesters }}</jf-progress></p>
    <p><iconify-icon icon="devicon:cplusplus"></iconify-icon> C++</p>
    <p><jf-progress style="width:100%;">3 {{ i18n[locale].skills.semesters }}</jf-progress></p>
    <p><iconify-icon icon="devicon:csharp"></iconify-icon> C#</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><iconify-icon icon="devicon:typescript"></iconify-icon> TypeScript</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><iconify-icon icon="devicon:electron"></iconify-icon> Electron</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><iconify-icon icon="devicon:unity"></iconify-icon> Unity</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><iconify-icon icon="devicon:postgresql"></iconify-icon> PostgreSQL</p>
    <p><jf-progress style="width:20%;">{{ i18n[locale].skills.occasional }}</jf-progress></p>
    <p><iconify-icon icon="devicon:angularjs"></iconify-icon> Angular</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.basic }}</jf-progress></p>
    <p><iconify-icon icon="devicon:nodejs"></iconify-icon> NodeJS</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.basic }}</jf-progress></p>
    <p><iconify-icon icon="devicon:bash"></iconify-icon> Bash</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.basic }}</jf-progress></p>
    <p><iconify-icon icon="devicon:oauth"></iconify-icon> OAuth2 + Web APIs</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
    <p>Web Scraping</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
    <p><iconify-icon icon="devicon:xml"></iconify-icon> XML + XPath</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
    <p><iconify-icon icon="file-icons:assembly-att"></iconify-icon> x86 Assembly</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
  </aside>

  <aside>
    <h3>{{ i18n[locale].skills.selfTaught }}</h3>
    <p><iconify-icon icon="devicon:java"></iconify-icon> Java</p>
    <p><jf-progress style="width:50%;">1 {{ i18n[locale].skills.project }}</jf-progress></p>
    <p><iconify-icon icon="vscode-icons:file-type-autohotkey"></iconify-icon> AutoHotkey</p>
    <p><jf-progress style="width:50%;">1 {{ i18n[locale].skills.project }}</jf-progress></p>
  </aside>
</section>

<section>
  <h3>{{ i18n[locale].skills.other }}</h3>
  <ul>
    <li>{{ i18n[locale].skills.other1 }}</li>
    <li>{{ i18n[locale].skills.other2 }}</li>
  </ul>
</section>
