---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "/{{ locale }}/skills/"
layout: base.njk
extraCss: /css/skills.css
---
<header>
  <h1>{{ i18n[locale].nav.skills }}</h1>
</header>

<section>
  <aside>
    <h3>{{ i18n[locale].skills.professional }}</h3>
    <p><i class="devicon-javascript-plain colored"></i> JavaScript</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><i class="devicon-css3-plain colored"></i> CSS</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><i class="devicon-html5-plain-wordmark colored"></i> HTML5</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><i class="devicon-git-plain colored"></i> git</p>
    <p><jf-progress style="width:100%;">6 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><i class="devicon-php-plain colored"></i> PHP</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><i class="devicon-jquery-plain colored"></i> jQuery</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><i class="devicon-bootstrap-plain colored"></i> Bootstrap 4</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.year }}</jf-progress></p>
    <p><i class="devicon-sass-original colored"></i> SASS</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.year }}</jf-progress></p>
    <p><i class="devicon-drupal-plain colored"></i> Drupal</p>
    <p><jf-progress style="width:33%;">2 {{ i18n[locale].skills.years }}</jf-progress></p>
    <p><i class="devicon-mysql-plain colored"></i> MySQL</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.occasional }}</jf-progress></p>
    <p><i class="devicon-json-plain colored"></i> JSON</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.occasional }}</jf-progress></p>
    <p><i class="devicon-vuejs-plain colored"></i> VueJS</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
  </aside>

  <aside>
    <h3>{{ i18n[locale].skills.academic }}</h3>
    <p><i class="devicon-python-plain colored"></i> Python 3</p>
    <p><jf-progress style="width:100%;">3 {{ i18n[locale].skills.semesters }}</jf-progress></p>
    <p><i class="devicon-cplusplus-plain colored"></i> C++</p>
    <p><jf-progress style="width:100%;">3 {{ i18n[locale].skills.semesters }}</jf-progress></p>
    <p><i class="devicon-csharp-plain colored"></i> C#</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><i class="devicon-typescript-plain colored"></i> TypeScript</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><i class="devicon-electron-original colored"></i> Electron</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><i class="devicon-unity-plain colored"></i> Unity</p>
    <p><jf-progress style="width:33%;">1 {{ i18n[locale].skills.semester }}</jf-progress></p>
    <p><i class="devicon-postgresql-plain colored"></i> PostgreSQL</p>
    <p><jf-progress style="width:20%;">{{ i18n[locale].skills.occasional }}</jf-progress></p>
    <p><i class="devicon-angularjs-plain colored"></i> Angular</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.basic }}</jf-progress></p>
    <p><i class="devicon-nodejs-plain colored"></i> NodeJS</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.basic }}</jf-progress></p>
    <p><i class="devicon-bash-plain colored"></i> Bash</p>
    <p><jf-progress style="width:15%;">{{ i18n[locale].skills.basic }}</jf-progress></p>
    <p><i class="devicon-oauth-plain colored"></i> OAuth2 + Web APIs</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
    <p>Web Scraping</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
    <p><i class="devicon-xml-plain colored"></i> XML + XPath</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
    <p>x86 Assembly</p>
    <p><jf-progress style="width:10%;">{{ i18n[locale].skills.minor }}</jf-progress></p>
  </aside>

  <aside>
    <h3>{{ i18n[locale].skills.selfTaught }}</h3>
    <p><i class="devicon-java-plain colored"></i> Java</p>
    <p><jf-progress style="width:50%;">1 {{ i18n[locale].skills.project }}</jf-progress></p>
    <p>AutoHotkey</p>
    <p><jf-progress style="width:50%;">1 {{ i18n[locale].skills.project }}</jf-progress></p>
  </aside>
</section>

<section>
  <h3>{{ i18n[locale].skills.other }}</h3>
  <ul>
    <li>{{ i18n[locale].skills.other1 }}</li>
    <li>{{ i18n[locale].skills.other2 }}</li>
  </ul>
</section>
