---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "/{{ locale }}/volunteer/"
layout: base.njk
---
<header>
  <h1>{{ i18n[locale].volunteer.title }}</h1>
</header>

<section>
  <aside>
    <img src="/images/american-red-cross-logo.svg" alt="American Red Cross logo" width="222" height="75">
    <h3>{{ i18n[locale].volunteer.redCross.name }}</h3>
    <p>{{ i18n[locale].volunteer.redCross.description }}</p>
  </aside>

  <aside>
    <img src="/images/citizens-climate-lobby-logo.png" alt="Citizens Climate Lobby logo" width="401" height="59">
    <h3>{{ i18n[locale].volunteer.ccl.name }}</h3>
    <p>{{ i18n[locale].volunteer.ccl.description }}</p>
  </aside>
</section>
