---
layout: base.njk
title: Skills
---
<h1>{{ i18n[locale].nav.skills }}</h1>

<div class="skills-grid">
  <section>
    <h2>{{ i18n[locale].skills.professional }}</h2>

    <h4>JavaScript</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 100%;">6 {{ i18n[locale].skills.years }}</div>
    </div>

    <h4>CSS</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 100%;">6 {{ i18n[locale].skills.years }}</div>
    </div>

    <h4>HTML5</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 100%;">6 {{ i18n[locale].skills.years }}</div>
    </div>

    <h4>git</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 100%;">6 {{ i18n[locale].skills.years }}</div>
    </div>

    <h4>PHP</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 66%;">2 {{ i18n[locale].skills.years }}</div>
    </div>

    <h4>jQuery</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 66%;">2 {{ i18n[locale].skills.years }}</div>
    </div>

    <h4>Bootstrap 4</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 66%;">2 {{ i18n[locale].skills.year }}</div>
    </div>

    <h4>SASS</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 66%;">2 {{ i18n[locale].skills.year }}</div>
    </div>

    <h4>Drupal</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 66%;">2 {{ i18n[locale].skills.years }}</div>
    </div>

    <h4>MySQL</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">{{ i18n[locale].skills.occasional }}</div>
    </div>

    <h4>JSON</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">{{ i18n[locale].skills.occasional }}</div>
    </div>

    <h4>VueJS</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 10%;">{{ i18n[locale].skills.minor }}</div>
    </div>
  </section>

  <section>
    <h2>{{ i18n[locale].skills.academic }}</h2>

    <h4>Python 3</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 100%;">3 {{ i18n[locale].skills.semesters }}</div>
    </div>

    <h4>C++</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 100%;">3 {{ i18n[locale].skills.semesters }}</div>
    </div>

    <h4>C#</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 50%;">1 {{ i18n[locale].skills.semester }}</div>
    </div>

    <h4>TypeScript</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 50%;">1 {{ i18n[locale].skills.semester }}</div>
    </div>

    <h4>Electron</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 50%;">1 {{ i18n[locale].skills.semester }}</div>
    </div>

    <h4>Unity</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 50%;">1 {{ i18n[locale].skills.semester }}</div>
    </div>

    <h4>PostgreSQL</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">{{ i18n[locale].skills.occasional }}</div>
    </div>

    <h4>Angular</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">{{ i18n[locale].skills.basic }}</div>
    </div>

    <h4>NodeJS</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">{{ i18n[locale].skills.basic }}</div>
    </div>

    <h4>Bash</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">{{ i18n[locale].skills.basic }}</div>
    </div>

    <h4>OAuth2 + Web APIs</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 10%;">{{ i18n[locale].skills.minor }}</div>
    </div>

    <h4>Web Scraping</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 10%;">{{ i18n[locale].skills.minor }}</div>
    </div>

    <h4>XML + XPath</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 10%;">{{ i18n[locale].skills.minor }}</div>
    </div>

    <h4>x86 Assembly</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 10%;">{{ i18n[locale].skills.minor }}</div>
    </div>
  </section>

  <section>
    <h2>{{ i18n[locale].skills.selfTaught }}</h2>

    <h4>Java</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">1 {{ i18n[locale].skills.project }}</div>
    </div>

    <h4>AutoHotkey</h4>
    <div class="progress-container">
      <div class="progress-bar" style="width: 33%;">1 {{ i18n[locale].skills.project }}</div>
    </div>
  </section>
</div>

<section class="other-skills">
  <h3>{{ i18n[locale].skills.other }}</h3>
  <ul>
    <li>{{ i18n[locale].skills.other1 }}</li>
    <li>{{ i18n[locale].skills.other2 }}</li>
  </ul>
</section>
