---
layout: base.njk
title: Inicio
---
<h1>John Fernow</h1>

<section class="intro-section">
  <div>
    <img class="portrait" src="/images/homepage-portrait.jpg" alt="John Fernow">
  </div>
  <div>
    <p>
      {{ i18n[locale].index.intro1 }}
      <a href="https://www.thelhtgroup.com" target="_blank" rel="noopener">{{ i18n[locale].index.lht }}</a>
      {{ i18n[locale].index.intro2 }}
      <a href="https://www.thelhtgroup.com/rapid-elearning/" target="_blank" rel="noopener">{{ i18n[locale].index.elearning }}</a>
      {{ i18n[locale].index.intro3 }}
      <a href="https://www.thelhtgroup.com/training-solutions/" target="_blank" rel="noopener">{{ i18n[locale].index.formats }}</a>
      {{ i18n[locale].index.intro4 }}
      <a href="https://www.thelhtgroup.com/what-is-virtual-reality-training-and-why-you-should-consider-it/" target="_blank" rel="noopener">{{ i18n[locale].index.vr }}</a>
      {{ i18n[locale].index.intro5 }}
      <a href="https://www.thelhtgroup.com/healthcare-compliance-training/" target="_blank" rel="noopener">{{ i18n[locale].index.healthcare }}</a>
      {{ i18n[locale].index.intro6 }}
      <a href="http://www.lhtlearning.com/" target="_blank" rel="noopener">{{ i18n[locale].index.website }}</a>
    </p>
    <p>{{ i18n[locale].index.passion }}</p>
  </div>
</section>
